// Colors

$white: #ffffff;
$yellow: #f4d759;
$dark-grey: #3d4852;
$medium-grey: #6d7780;
$light-grey: #f0f2f3;
$green: #28c278;
$light-green: #2dd484;
$red: #f07e5e;
$light-red: #fd9476;
$blue: #4fc4e6;
$light-blue: #5dd4f6;